.inventario-container {
  display: flex;               // Usar flexbox
  justify-content: center;     // Centrar horizontalmente
  align-items: center;         // Centrar verticalmente
  height: 100vh;              // Ocupa toda la altura de la ventana
  background-color: var(--bgColor); // Ajusta según sea necesario

  .content {
      text-align: center;      // Centrar el texto dentro del contenedor

      .textDiv {
          margin-bottom: 2rem; // Espaciado inferior
          
          .Tittle {
              font-size: 1.5rem; // Tamaño de fuente del título
              color: var(--textColor); // Color del texto
          }
      }

      .productList {
          .sectionTitle {
              font-size: 1.25rem; // Tamaño de fuente para la sección de productos
              margin-bottom: 1rem; // Espaciado inferior
              color: var(--textColor); // Color del texto
          }

          .products {
              list-style-type: none; // Sin puntos en la lista
              padding: 0;            // Sin padding
              margin-bottom: 1.5rem; // Espaciado inferior
          }

          .actionButton {
              padding: 0.75rem 1.5rem; // Padding para el botón
              background-color: var(--PrimaryColor); // Color de fondo del botón
              color: var(--whiteColor); // Color del texto del botón
              border: none;              // Sin borde
              border-radius: 0.25rem;    // Bordes redondeados
              cursor: pointer;           // Cambiar cursor al pasar por encima
              transition: background-color 0.3s ease; // Transición suave

              &:hover {
                  background-color: var(--HoverColor); // Color en hover
              }
          }
      }
  }
}
