.sidebar {
  background-color: #bc0d0d; // Color de fondo del sidebar
  color: #090808; // Color del texto
  padding: 20px; // Espaciado interno
  display: flex;
  flex-direction: column; // Para que los elementos se alineen verticalmente
  width: 250px; // Ancho del sidebar
  min-height: 100vh; // Asegura que ocupe toda la altura de la ventana

  .logo {
    margin-bottom: 30px; // Espacio debajo del logo
    img {
      max-width: 100%; // Ajusta la imagen al tamaño del contenedor
      height: auto; // Mantiene la proporción de la imagen
    }
  }

  nav {
    width: 100%; // Asegura que el nav ocupe todo el ancho del sidebar

    h3 {
      margin-bottom: 20px; // Espacio debajo del título
      font-size: 18px; // Tamaño de la fuente del título
    }

    ul {
      list-style: none; // Sin estilo de lista
      padding: 0; // Sin padding

      li {
        margin-bottom: 15px; // Espacio entre los elementos de la lista

        a {
          display: flex; // Flexbox para alinear icono y texto
          align-items: center; // Alinea verticalmente
          color: #fff; // Color del texto
          text-decoration: none; // Sin subrayado
          padding: 10px; // Espaciado interno
          border-radius: 5px; // Bordes redondeados
          transition: background-color 0.3s; // Transición suave para el hover

          &.active,
          &:hover {
            background-color: #23d9f1; // Color de fondo al pasar el mouse o estar activo
          }

          .icon {
            margin-right: 12px; // Espacio entre el icono y el texto
            font-size: 20px; // Tamaño del icono
          }
        }
      }
    }
  }
}
